<ion-view view-title="Artist List">
    <!--<ion-header-bar class="bar-positive">-->
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = false;"></button>
    </ion-nav-buttons>
    
    <!--<h1 class="title">Artist List</h1>-->
    
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon" ng-click="data.showReorder = !data.showReorder; data.showDelete = false;"></button>
    </ion-nav-buttons>
    <!--</ion-header-bar>-->
        
    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search"  placeholder="Search" ng-model="query">
        </label>
    </div>

    <ion-content class="has-subheader">
        
        <ion-refresher on-refresh="list.doRefresh()"></ion-refresher>
        
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            
            <!--
                Ask for data from artists be filtered by query variable in search input field above using filter: query
                
                ng-class is a class that depends on the value of an expression. In our case we will assign ion-item a class of 'star' as long as artist.star has a value of true.
            -->
            <ion-item ng-repeat="artist in list.artists | filter: query" ng-class="{'star': artist.star}" class="item-thumbnail-left item-text-wrap item-icon-right" href="#/tab/list/{{artist.shortname}}">
                
                <img ng-src="img/{{artist.shortname}}_tn.jpg" alt="{{artist.name}} Photo">
                
                <h2>{{artist.name}}</h2>
                
                <h3>{{artist.reknown}}</h3>
                
                <p>
                    {{artist.bio | limitTo: 100}}
                    {{artist.bio.length > 100 ? '&hellip;' : ''}}
                </p>
                
                <!-- This is the star that will appear next to each artist -->
                <button class="button button-clear icon ion-star button-assertive" ng-click="list.toggleStar(artist)" ng-show="artist.star"></button>
                
                <!--Button that will appear when artist is swiped to the left-->
                <ion-option-button class="button-dark" ng-click="list.toggleStar(artist)">
                    <i class="icon ion-star"></i>
                </ion-option-button>
                
                <ion-delete-button class="ion-minus-circled" ng-click="list.onArtistDelete(artist)"></ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="list.moveArtist(artist, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>
            
        </ion-list>
        
    </ion-content>
</ion-view>