@mixin splash-background($urlValue: "../img/skyline.jpg") {
    background: url($urlValue) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}